.NavBar-Overlay,
.NavBar-Overlay-Close {
    grid-row: 1/4;
    transition: all 0.3s ease;
}

.NavBar {
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 100vh;
    box-shadow: var(--BoxShadow);
    padding: 0 10px;
    transition: all 0.3s ease;
}

.NavBar-Close {
    overflow: hidden;
    height: 100vh;
    width: 0;
    transition: all 0.3s ease;
}

.NavLogo {
    display: flex;
    height: 60px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed var(--color-gray);
}

.NavLogo img {
    width: 100%;
}

.NavMenu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

@media screen and (max-width: 720px) {
    .NavBar-Overlay-Close,
    .NavBar-Overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .NavBar-Overlay {
        width: 100vw !important;
    }

    .NavBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 100vh;
        background-color: var(--color-white);
        backdrop-filter: blur(5px);
        box-shadow: var(--BoxShadow);
        transition: all 0.3s ease;
        cursor: auto;
    }
}
