.dashboard-container {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.top-section {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    .video-feed {
        flex: 3;
        height: 400px;
        background-color: #d9e4ff;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .movement-history {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 400px;

        .history-header {
            flex: 4;
            padding: 10px;
            background-color: white;
        }

        .progress-bar {
            flex: 1;
            background-color: #f0f0f0;
            padding: 10px;
            background-color: white;
        }
    }
}

.info-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.charts-section {
    display: flex;
    gap: 20px;
}

.chart {
    flex: 1;
    height: 200px;
    background-color: #c3e0ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vehicle-image {
    flex: 1;
    height: 200px;
    background-color: #a0cfff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-feed,
.history-header,
.progress-bar,
.chart,
.vehicle-image {
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .dashboard {
        gap: 10px;
        max-height: 100vh;
        overflow-y: auto;
        padding: 20px;
    }

    .top-section,
    .charts-section {
        flex-direction: column;
    }

    .video-feed,
    .movement-history,
    .chart,
    .vehicle-image {
        flex: none;
        width: 100%;
        min-width: 400px;
    }
}
