.title {
    width: 100%;
    text-align: center;
    color: transparent;
    background: linear-gradient(
        to right,
        var(--color-blue-light),
        var(--color-blue-dark)
    );
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
}

.gradient-border {
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-image: linear-gradient(
            to right,
            var(--color-blue-light),
            var(--color-blue-dark)
        )
        1;
}
