.vehicle-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.vehicle-content {
    display: grid;
    grid-template-rows: 66px 1fr auto;
    align-items: start;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: var(--BoxShadow);
    height: calc(100vh - 170px);
    gap: 10px;
}

.vehicle-content > .vehicle-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.vehicle-image img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(90deg);
}

.vehicle-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.vehicle-select-refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
