.ImgProfile {
    cursor: pointer;
    border-radius: 50%;
    height: 60px;
    padding: 10px;
}

.UserMenu {
    position: absolute;
    top: 75px;
    right: 15px;
    background: var(--color-white);
    box-shadow: var(--BoxShadow);
    border-radius: 5px;
    flex-direction: column;
    padding: 15px;
}

.UserMenu-close {
    z-index: 100;
    transform: translateX(calc(100% + 15px));
    transition: all 0.3s ease;
}

.UserMenu-open {
    z-index: 100;
    transform: translateX(0);
    transition: all 0.3s ease;
}

.UserMenu-top {
    border-bottom: 1px dashed var(--color-gray);
    padding-bottom: 10px;
}

.UserMenu-top p {
    color: var(--color-gray);
}

.UserMenu-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
