@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font-h1: 36px;
    --font-h2: 32px;
    --font-h3: 28px;
    --font-h4: 24px;
    --font-p: 20px;
    --font-a: 20px;
    --font-li: 20px;
    --font-input: 20px;
    --font-submit: 20px;
    --font-checkbox: 20px;
    --font-label: 16px;
    --font-placeholder: 20px;
    --font-button: 20px;
    --font-i: 36px;
    --font-u: 20px;
    --font-td: 20px;
    --font-th: 24px;
    --font-textarea-placeholder: 20px;
    --font-textarea: 20px;
    --font-select: 20px;
    --font-small: 16px;

    --color-bg-indigo: rgba(235, 239, 255, 1);
    --color-black: rgba(17, 24, 39, 1);
    --color-black-25: rgba(17, 24, 39, 0.25);
    --color-black-50: rgba(17, 24, 39, 0.5);
    --color-black-75: rgba(17, 24, 39, 0.75);
    --color-white: rgba(255, 255, 255, 1);
    --color-white-25: rgba(255, 255, 255, 0.25);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-75: rgba(255, 255, 255, 0.75);
    --color-gray: rgba(107, 114, 128, 1);
    --color-gray-25: rgba(107, 114, 128, 0.25);
    --color-gray-50: rgba(107, 114, 128, 0.5);
    --color-gray-75: rgba(107, 114, 128, 0.75);
    --color-blue: rgba(55, 48, 163, 1);
    --color-blue-25: rgba(55, 48, 163, 0.25);
    --color-blue-50: rgba(55, 48, 163, 0.5);
    --color-blue-75: rgba(55, 48, 163, 0.75);
    --color-blue-light: rgba(89, 81, 205, 1);
    --color-blue-dark: rgba(43, 37, 126, 1);
    --color-success: rgba(21, 128, 61, 1);
    --color-warning: rgba(161, 98, 7, 1);
    --color-error: rgba(185, 28, 28, 1);
    --color-info: rgba(107, 172, 191, 1);

    --BoxShadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25),
        0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1440px) {
    :root {
        --font-h1: 34px;
        --font-h2: 30px;
        --font-h3: 26px;
        --font-h4: 22px;
        --font-p: 18px;
        --font-a: 18px;
        --font-li: 18px;
        --font-input: 18px;
        --font-submit: 18px;
        --font-checkbox: 18px;
        --font-label: 14px;
        --font-placeholder: 18px;
        --font-button: 18px;
        --font-i: 34px;
        --font-u: 18px;
        --font-td: 18px;
        --font-th: 22px;
        --font-textarea-placeholder: 18px;
        --font-textarea: 18px;
        --font-select: 18px;
        --font-small: 14px;
    }
}

@media (max-width: 1024px) {
    :root {
        --font-h1: 32px;
        --font-h2: 28px;
        --font-h3: 24px;
        --font-h4: 20px;
        --font-p: 16px;
        --font-a: 16px;
        --font-li: 16px;
        --font-input: 16px;
        --font-submit: 16px;
        --font-checkbox: 16px;
        --font-label: 12px;
        --font-placeholder: 16px;
        --font-button: 16px;
        --font-i: 32px;
        --font-u: 16px;
        --font-td: 16px;
        --font-th: 20px;
        --font-textarea-placeholder: 16px;
        --font-textarea: 16px;
        --font-select: 16px;
        --font-small: 12px;
    }
}

@media (max-width: 720px) {
    :root {
        --font-h1: 30px;
        --font-h2: 26px;
        --font-h3: 22px;
        --font-h4: 18px;
        --font-p: 14px;
        --font-a: 14px;
        --font-li: 14px;
        --font-input: 14px;
        --font-submit: 14px;
        --font-checkbox: 14px;
        --font-label: 10px;
        --font-placeholder: 14px;
        --font-button: 14px;
        --font-i: 30px;
        --font-u: 14px;
        --font-td: 14px;
        --font-th: 18px;
        --font-textarea-placeholder: 14px;
        --font-textarea: 14px;
        --font-select: 14px;
        --font-small: 10px;
    }
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--color-black);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 10px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

body {
    background: var(--color-bg-indigo);
    color: var(--color-black);
    font-family: 'lato', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-h4);
}

p {
    font-size: var(--font-p);
}

a {
    font-size: var(--font-a);
    color: var(--color-blue);
    text-decoration: none;
}

li {
    font-size: var(--font-li);
}

input {
    font-size: var(--font-input);
    padding: 5px 0;
    border: none;
    background: none;
    color: var(--color-black);
    width: 100%;
    transition: all 0.3s ease;
    outline: none;
}

input::focus {
    background-color: none;
    border: none;
}

input[type='submit'] {
    font-size: var(--font-submit);
}

input[type='checkbox'] {
    font-size: var(--font-checkbox);
}

label {
    font-size: var(--font-label);
}

input::placeholder {
    font-size: var(--font-placeholder);
    cursor: pointer;
}

button {
    font-size: var(--font-button);
    border: none;
    background: none;
}

i {
    font-size: var(--font-i);
}

u {
    font-size: var(--font-u);
}

td {
    font-size: var(--font-td);
}

th {
    font-size: var(--font-th);
}

textarea::placeholder {
    font-size: var(--font-textarea-placeholder);
}

textarea {
    font-size: var(--font-textarea);
}

select {
    font-size: var(--font-select);
}

small {
    font-size: var(--font-small);
}
