.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container label {
    color: var(--color-gray);
}

.input-container div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
    padding: 5px 0;
    width: 100%;
    transition: border-color 0.3s ease;
}

.input-container input::placeholder {
    color: var(--color-gray-50);
    transition: color 0.3s ease;
}

.input-container input:focus::placeholder {
    color: transparent;
}

.input-container svg {
    margin-right: 10px;
    color: var(--color-blue);
    transition: color 0.3s ease;
}
