.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px) brightness(0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modal-content {
    min-width: 500px;
    background: var(--color-white);
    padding: 20px;
    box-shadow: var(--BoxShadow);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1440px) {
    .modal-content {
        min-width: 450px;
    }
}

@media (max-width: 1024px) {
    .modal-content {
        min-width: 400px;
    }
}

@media (max-width: 720px) {
    .sous-auth-container-form {
        min-width: 350px;
    }
}
