.Form-Auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.Form-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

@media (max-width: 720px) {
    .Form {
        gap: 15px;
    }
}
